<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
 <connectionStrings>
     <add name="ConnectionString" connectionString="Data Source=GABRIELDINI5F24\GILSON;Initial Catalog=dbplataformaAEHO;User ID=sa;Password=senha"
         providerName="System.Data.SqlClient" />
     <add name="RegistroComConnectionString" connectionString="Data Source=./;Initial Catalog=dbplataformaAEHO;User ID=sa;Password=senha"
         providerName="System.Data.SqlClient" />
     <add name="dbplataformaAEHOConnectionString" connectionString="Data Source=./;Initial Catalog=dbplataformaAEHO;User ID=sa;Password=senha"
         providerName="System.Data.SqlClient" />
 </connectionStrings>

</configuration>
